@model OnboardingSoftware.Web.Models.PitanjeViewModel

@{
    ViewData["Title"] = "CreateQuestion";
}

<div class="lineContainer">
    <div class="left">
        <h4>Create question</h4>
    </div>
    <div class="right" style="text-align:end">
        <input type="submit" value="Submit" onclick="SubmitMyForm()" class="btn btn-dark" />
    </div>
</div>
<hr />
<div>
    <label style="font-size:smaller" class="text-danger">@ViewBag.ErrorMessage</label>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQuestion" id="createform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RedniBroj" class="control-label">No.</label>
                <input id="linkUrl" asp-for="RedniBroj" onchange="UrlChanged()" style="width:400px;" class="form-control" autocomplete="off" />
                <span id="valmsg" style="display:none" asp-validation-for="RedniBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label">Type</label>
                <input id="linkUrl" asp-for="Tip" onchange="UrlChanged()" style="width:400px;" class="form-control" autocomplete="off" />
                <span id="valmsg" style="display:none" asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tekst" class="control-label">Text</label>
                <input id="linkUrl" asp-for="Tekst" onchange="UrlChanged()" style="width:400px;" class="form-control" autocomplete="off" />
                <span id="valmsg" style="display:none" asp-validation-for="Tekst" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <input type="button" id="addtags" value="Submit" onclick="ShowTags()" class="btn btn-success" />
            <input type="button" id="hidetags" value="Clear tags" onclick="HideTags()" class="btn btn-primary" />
        </div>*@
        <div class="form-group">
            <label class="control-label">Test</label>
            <div id="tagItemsContainer" style="width:400px;">
                @*@Html.EditorFor(Model => Model.TagResources)*@
                @*@Html.DropDownListFor(model => model.DropdownResource.SelectedValue, Model.DropdownResource.TagResources, "Please select", new { id = "ddlCity" })*@
            </div>
        </div>
            <!--<div id="tagItemsContainer">-->
                @*@Html.EditorFor(Model => Model.TagResources)*@
                @*@Html.DropDownListFor(model => model.DropdownResource.SelectedValue, Model.DropdownResource.TagResources, "Please select", new { id = "ddlCity" })*@
            <!--</div>-->
            <label id="loader" class="text-danger" style="display:none"></label>
            <div class="row" id="addtagbutton" style="display:none">
                <div class="col-md-4">
                    @*<input class="btn btn-info" type="button" id="btnAdd" value="Add another tag" />*@
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .lineContainer {
        overflow: hidden;
    }

    .left {
        width: 200px;
        float: left;
        vertical-align: central;
    }

    .right {
        overflow: hidden;
        vertical-align: central;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

        var callOne = true;

        window.onload = function () {
            this.callOne = true;
            ShowTags();
        };

        function UrlChanged() {
            callOne = true;
        }

    function ShowTags() {
                document.getElementById('loader').style.display = 'block';
                $.ajax({
                    async: true,
                    data: $('#createform').serialize(),
                    type: "POST",
                    url: '/Home/InitializeTags',
                    success: function (partialView) {
                        $('#tagItemsContainer').html(partialView);
                        document.getElementById('loader').style.display = 'none';
                    }
                });


            if (document.getElementById('linkUrl').value === "") {
                document.getElementById('valmsg').style.display = 'block';
                return;
            }
            document.getElementById('valmsg').style.display = 'none';
            document.getElementById('tagItemsContainer').style.display = 'block';
            document.getElementById('addtagbutton').style.display = 'block';
            document.getElementById('linkUrl').readOnly = true;
        }

        function HideTags() {
            document.getElementById('tagItemsContainer').style.display = 'none';
            document.getElementById('addtagbutton').style.display = 'none';
            document.getElementById('linkUrl').readOnly = false;
        }
        $("#hidetags").on('click', function () {
            $.ajax({
                async: true,
                data: $('#createform').serialize(),
                type: "POST",
                url: '/Home/ClearTags',
                success: function (partialView) {
                    $('#tagItemsContainer').html(partialView);
                }
            });
        });

        $("#btnAdd").on('click', function () {
            $.ajax({
                async: true,
                data: $('#createform').serialize(),
                type: "POST",
                url: '/Home/AddTag',
                success: function (partialView) {
                    $('#tagItemsContainer').html(partialView);
                }
            });
        });

        $('#addtag').on('click', function () {
            $.ajax({
                async: false,
                url: '/Home/AddTag'
            }).success(function (partialView) {
                $('#new-Tag').html(partialView);
            });
        });

        function SubmitMyForm() {
            if (document.getElementById('linkUrl').value === "") {
                document.getElementById('valmsg').style.display = 'block';
                return;
            }

            document.getElementById('valmsg').style.display = 'none';
            document.getElementById("createform").submit();
        }

</script>
}
